body{
  background-image: url(assets/seaback.jpg);
  background-size: cover;
}

#page {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color:rgb(243, 247, 255);
  border-radius: 24px;
  margin: 48px auto 28px;
}

nav {
  padding: 10px;
  text-align: center; 
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  padding: 10px;
}
nav a {
  color: rgb(45, 74, 131);
  text-decoration: none;
}
nav a:hover {
  background-color: #47;
  color: black;
}

fieldset {
        border: 1px solid #ccc; 
        border-radius: 5px; 
        padding: 10px; 
        margin: 10px 0; 
    }
    label {
        display: block; 
        margin-bottom: 5px;
    }
  